{% extends 'masterpage.html' %}

  {% block content %}
  <h1></h1>
  <main>
    <br><div class='container z-depth-1 roundIt youq'><h2 class='text-lighten-1'>Your Take:</h2><h4 id='alas' class= 'red-text text-lighten-2'>{{chunkA}}{{blankA}}{{chunkB}}{{blankB}}{{chunkC}}{{blankC}}{{chunkD}}</h4></div><br><div class='container z-depth-1 youq roundIt'</div><h2> Original Quote:</h2><h4 id='originalQ' class='lime-text text-darken-2'>{{originalQ}}<h4></div>
  </main>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

{% endblock %}
